.date {
  border-bottom: 0.5px solid #8fa3b0;
}

.team1 {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  width: 45%;
}

.team2 {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  width: 45%;
}

.teamName {
  margin-left: 5px;
  margin-right: 5px;
  color: #ffffff;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin: 10px; */
  margin: auto;
  border-bottom: 0.5px solid #8fa3b0;
  transition: all 0.25s ease-in-out;
  width: 90vw;
  user-select: none;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.approx {
  color: #8fa3b0;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  display: block;
  margin-top: 4px;
  font-size: 1.2rem;
  line-height: 1em;
}

.time {
  font-size: 1rem;
  line-height: 1em;
  opacity: 1;
  font-weight: bold;
}

.frame {
  margin: auto;
  width: 95%;
}

.team2Picked1 {
  margin-left: 400px;
}
.team2Picked2 {
  margin-right: 0px;
}
.team1Picked1 {
  margin-left: 0px;
}
.team1Picked2 {
  margin-right: 400px;
}

.team1:hover {
  outline: 1px solid gray;
}
.team2:hover {
  outline: 1px solid gray;
}
