body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f1519;
  color: #ffffff;
  font-family: "Colfax", Helvetica, sans-serif;
}

@import "~antd/dist/antd.css";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Colfax";
  src: url("../public/assets/Fonts/ColfaxWebRegular.woff2");
}
